.profile-page {
    margin: 10px 50px;
    display: flex
}

.profile-page>div {
    flex-wrap: nowrap;
}

.profileCard{
    width: 30%
}

.profile-content{
    width: 100%
}

@media screen and (max-width: 758px) {
    .profile-page{
        flex-direction: column;
        justify-content: center;
    } 
}
